<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>headImage_00192.png</string>
				<key>intro</key>
				<string>我们在放弃，涂白了记忆，以为就可以伪装无邪的美丽。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>王家槐</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00083.png</string>
				<key>intro</key>
				<string>当我最想说些什么的时候，往往也是我最沉默的时候。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>楮凌琪</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00123.png</string>
				<key>intro</key>
				<string>有些人不必说再见，因为只是路过而已。遗忘就是我们给彼此最好的纪念。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>杨琛帛</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00192.png</string>
				<key>intro</key>
				<string>树叶黄了,就要掉了,被风吹了,找不到了;太阳累了,就要睡了,留下月亮,等着天亮;冬天来了,觉得凉了,水不流了,你也走了;音乐响了,让我哭了,心已丢了,还会痛么？ </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>曹鑫德</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00006.png</string>
				<key>intro</key>
				<string>时间不是让人不痛，也不是让人忘记痛，而是让人习惯痛。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>姜海骏</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00190.png</string>
				<key>intro</key>
				<string>在什么都不确定的年代，我们总是爱得太早、放弃得太快，轻易付出承诺，又不想等待结果。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>沈鹏沛</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00017.png</string>
				<key>intro</key>
				<string>我落日般的忧伤就像惆怅的飞鸟，惆怅的飞鸟飞成我落日般的忧伤。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>孙泽栋</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00042.png</string>
				<key>intro</key>
				<string>有一点累，有一点灰，有一点点执著；全世界不懂都无所谓，对错也无所谓！ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>严雯曼</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00088.png</string>
				<key>intro</key>
				<string>为什么路的後面还是路？为什么故事结束还有那么多的假如？只有你能打破黑夜的企图，什么时候我的梦境能有太阳居住？ </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>朱妮枫</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00108.png</string>
				<key>intro</key>
				<string>为什么路的後面还是路？为什么故事结束还有那么多的假如？只有你能打破黑夜的企图，什么时候我的梦境能有太阳居住？ </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>王辰邦</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00112.png</string>
				<key>intro</key>
				<string>感情有时候只是一个人的事情，和任何人无关。爱、或者不爱，自行了断。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>张天驰</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00165.png</string>
				<key>intro</key>
				<string>谁的爱放在假日的市场，讨价还价拍卖着它的重量。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>吕荣哲</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00195.png</string>
				<key>intro</key>
				<string>堕落其实本无罪，只是美的太颓废。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>陈栋栋</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00142.png</string>
				<key>intro</key>
				<string>逝去的岁月怎么找得回来？你曾经的微笑，在回忆里却散不开。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>赵昕楠</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00035.png</string>
				<key>intro</key>
				<string>流年浅唱，记忆被瞬间遗忘，我的思念汇聚成河，流淌在天涯尽头…… </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>陈柏林</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00055.png</string>
				<key>intro</key>
				<string>为什么路的後面还是路？为什么故事结束还有那么多的假如？只有你能打破黑夜的企图，什么时候我的梦境能有太阳居住？ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>秦爵尧</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00187.png</string>
				<key>intro</key>
				<string>祝福是一泓清泉中的花开，花开四季，季季都有我芬芳淡淡的叮咛。叮咛是一世漂泊中的风雨，风雨几缕，缕缕都有我随花凋谢的心情。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>华薇舒</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>工作同事</string>
		<key>online</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>headImage_00051.png</string>
				<key>intro</key>
				<string>街角遇见爱，转角没未来。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>金龙骏</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00080.png</string>
				<key>intro</key>
				<string>相识，总是那么美丽；分手，总是优雅不起。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>秦乘天</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00073.png</string>
				<key>intro</key>
				<string>低吟、浅唱，那一段不为人知的伤，没落繁华的过往是谁的歌声在回荡。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>周福钊</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00021.png</string>
				<key>intro</key>
				<string>你就象场戏剧，随时随地转换面具。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>赵腾梓</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00195.png</string>
				<key>intro</key>
				<string>知道真相又如何？青涩年华里，我们都怀揣着各自的秘密，原谅了彼此的心机。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>沈灵妍</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00170.png</string>
				<key>intro</key>
				<string>我们的青春如此无奈。太多的回忆变成了伤怀。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>楮昕楠</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>技术团队</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
