<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>headImage_00174.png</string>
				<key>intro</key>
				<string>祝福是一泓清泉中的花开，花开四季，季季都有我芬芳淡淡的叮咛。叮咛是一世漂泊中的风雨，风雨几缕，缕缕都有我随花凋谢的心情。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>朱优桐</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00168.png</string>
				<key>intro</key>
				<string>为什么路的後面还是路？为什么故事结束还有那么多的假如？只有你能打破黑夜的企图，什么时候我的梦境能有太阳居住？ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>严枫帆</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00128.png</string>
				<key>intro</key>
				<string>为什么路的後面还是路？为什么故事结束还有那么多的假如？只有你能打破黑夜的企图，什么时候我的梦境能有太阳居住？ </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>严晨勇</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00122.png</string>
				<key>intro</key>
				<string>相识，总是那么美丽；分手，总是优雅不起。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>许驰康</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00039.png</string>
				<key>intro</key>
				<string>谁给我波澜不惊的爱情，谁陪我看透流年的风景。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>华驰林</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00110.png</string>
				<key>intro</key>
				<string>忘掉岁月，忘掉痛苦，忘掉你的坏，我们永不永不说再见。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>魏碧锦</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00186.png</string>
				<key>intro</key>
				<string>今生今世，但愿岁月静好，现世安稳，每天都能看见他的笑颜。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>吴雨静</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00095.png</string>
				<key>intro</key>
				<string>曾经的海枯石烂，终究抵不过一句好聚好散。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>郑昕楠</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00009.png</string>
				<key>intro</key>
				<string>那一世，转山转水转佛塔，不为修来世，只为途中与你相见。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>孙震骏</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00129.png</string>
				<key>intro</key>
				<string>你说的永远，不过是永不可能得到的长远。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>吴碧锦</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00024.png</string>
				<key>intro</key>
				<string>伤口再痛痛不过背叛的伤痛，泪水再多多不过你给的冷漠。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>许强轩</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00063.png</string>
				<key>intro</key>
				<string>你们幸福的姿态，请别在我面前炫耀，我会疯掉~ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>陶凡林</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00041.png</string>
				<key>intro</key>
				<string>青春的花开花谢只是我思念的日历。没有首页，没有尾页。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>孔彦琛</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00076.png</string>
				<key>intro</key>
				<string>你就象场戏剧，随时随地转换面具。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>魏起华</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00130.png</string>
				<key>intro</key>
				<string>感情有时候只是一个人的事情，和任何人无关。爱、或者不爱，自行了断。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>孙然驰</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00198.png</string>
				<key>intro</key>
				<string>记忆流成河。我在岸边经过，闭上眼睛，悲欢交错。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>周雯芳</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00015.png</string>
				<key>intro</key>
				<string>年少的爱慕是可以安静的，只是在以后的岁月里，我将永远走在少了你的风景里。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>郑彩鹤</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00007.png</string>
				<key>intro</key>
				<string>一个人的寂寞，成就不朽的情歌；全民一起寂寞，成就如此多的哥。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>王骞宇</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00059.png</string>
				<key>intro</key>
				<string>我不说、你不懂，我们互相在假装。这就是我们的距离。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>王舒敏</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00029.png</string>
				<key>intro</key>
				<string>是因我们太年轻，不能够坚持自己，还是诺言太软弱，经不起闲言碎语？ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>张祜良</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00188.png</string>
				<key>intro</key>
				<string>原来岁月太长，可以丰富，可以荒凉。能忘掉结果，未能忘记遇上。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>赵彩菲</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00029.png</string>
				<key>intro</key>
				<string>当我最想说些什么的时候，往往也是我最沉默的时候。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>吴枫明</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00166.png</string>
				<key>intro</key>
				<string>是因我们太年轻，不能够坚持自己，还是诺言太软弱，经不起闲言碎语？ </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>姜梦凌</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00079.png</string>
				<key>intro</key>
				<string>青春是如此忧伤，在这个季节我们学会了感伤。身后曾经有一双翅膀，努力飞翔却是别人的力量。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>吴晨弦</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00054.png</string>
				<key>intro</key>
				<string>忘掉岁月，忘掉痛苦，忘掉你的坏，我们永不永不说再见。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>卫蔓炳</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00121.png</string>
				<key>intro</key>
				<string>人生就像一场舞会，教会你最初舞步的人却未必能陪你走到散场…… </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>赵振锐</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00046.png</string>
				<key>intro</key>
				<string>谁和谁错肩,谁和谁永远,谁在残阳如血的时光中等待花落。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>蒋仕瑞</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00046.png</string>
				<key>intro</key>
				<string>我不想做你生命的插曲，只想做你生命最完美的结局。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>朱美彩</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00180.png</string>
				<key>intro</key>
				<string>谁的眼角触得了谁的眉？谁的笑容抵得了谁的泪？谁的心脏载得了谁的轮回？谁的掌纹赎得回谁的罪？ </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>曹稷勇</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00063.png</string>
				<key>intro</key>
				<string>那一世，转山转水转佛塔，不为修来世，只为途中与你相见。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>吴彬骏</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00162.png</string>
				<key>intro</key>
				<string>喜欢的歌，静静地听；喜欢的人，远远地看。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>金楠梦</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00061.png</string>
				<key>intro</key>
				<string>谁的眼角触得了谁的眉？谁的笑容抵得了谁的泪？谁的心脏载得了谁的轮回？谁的掌纹赎得回谁的罪？ </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>王采菲</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00071.png</string>
				<key>intro</key>
				<string>为谁唱离歌，对谁说情话，给谁写天涯。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>魏成鸿</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00040.png</string>
				<key>intro</key>
				<string>我不说、你不懂，我们互相在假装。这就是我们的距离。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>曹锦彩</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00008.png</string>
				<key>intro</key>
				<string>祝福是一泓清泉中的花开，花开四季，季季都有我芬芳淡淡的叮咛。叮咛是一世漂泊中的风雨，风雨几缕，缕缕都有我随花凋谢的心情。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>姜锐初</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00181.png</string>
				<key>intro</key>
				<string>为你落下一滴泪，故事到最后总会落幕，我真心的付出却不是你要的幸福。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>王锟文</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00039.png</string>
				<key>intro</key>
				<string>我们在放弃，涂白了记忆，以为就可以伪装无邪的美丽。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>姜锦梅</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00057.png</string>
				<key>intro</key>
				<string>试着放手，走与不走，留与不留，我不想懂？ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>吴浩勇</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00072.png</string>
				<key>intro</key>
				<string>心里有一些牵挂，有些爱却不得不各安天涯…</string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>赵梓腾</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00179.png</string>
				<key>intro</key>
				<string>感情有时候只是一个人的事情，和任何人无关。爱、或者不爱，自行了断。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>陶淑馨</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00071.png</string>
				<key>intro</key>
				<string>那些流年、那些颠狂、那些悲伤，在某个十字路口、已经尘埃落定。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>冯欣梓</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00144.png</string>
				<key>intro</key>
				<string>谁给我波澜不惊的爱情，谁陪我看透流年的风景。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>王媛涵</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00100.png</string>
				<key>intro</key>
				<string>你就象场戏剧，随时随地转换面具。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>金娜紫</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00153.png</string>
				<key>intro</key>
				<string>是因我们太年轻，不能够坚持自己，还是诺言太软弱，经不起闲言碎语？ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>张楠莲</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00167.png</string>
				<key>intro</key>
				<string>谢谢你曾让我勇敢。静静的看你牵起她的手，从我面前高调地走过…若无其事。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>郑萱桃</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00069.png</string>
				<key>intro</key>
				<string>知道真相又如何？青涩年华里，我们都怀揣着各自的秘密，原谅了彼此的心机。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>何妍妍</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00055.png</string>
				<key>intro</key>
				<string>一个人的寂寞，成就不朽的情歌；全民一起寂寞，成就如此多的哥。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>孙萱栀</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
		</array>
		<key>name</key>
		<string>工作同事</string>
		<key>online</key>
		<integer>22</integer>
	</dict>
</array>
</plist>
