<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>headImage_00075.png</string>
				<key>intro</key>
				<string>我们在放弃，涂白了记忆，以为就可以伪装无邪的美丽。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>姜彩锦</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00044.png</string>
				<key>intro</key>
				<string>祝福是一泓清泉中的花开，花开四季，季季都有我芬芳淡淡的叮咛。叮咛是一世漂泊中的风雨，风雨几缕，缕缕都有我随花凋谢的心情。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>冯腾辰</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00135.png</string>
				<key>intro</key>
				<string>一念起，万水千山；一念灭，沧海桑田。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>沈鸿辰</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00189.png</string>
				<key>intro</key>
				<string>试着放手，走与不走，留与不留，我不想懂？ </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>冯星良</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00129.png</string>
				<key>intro</key>
				<string>话已说尽，情已割舍，爱已不在，后会无期。</string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>冯洲灵</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00033.png</string>
				<key>intro</key>
				<string>原来岁月太长，可以丰富，可以荒凉。能忘掉结果，未能忘记遇上。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>陈骏浩</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00115.png</string>
				<key>intro</key>
				<string>低吟、浅唱，那一段不为人知的伤，没落繁华的过往是谁的歌声在回荡。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>吕琬月</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00157.png</string>
				<key>intro</key>
				<string>潮起潮落，冲不走沙滩记忆的贝壳；云卷云舒，留不住她远去的背影；人来人往，挡不住初识的那份快乐。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>卫锟震</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00140.png</string>
				<key>intro</key>
				<string>今生今世，但愿岁月静好，现世安稳，每天都能看见他的笑颜。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>楮曼彦</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00093.png</string>
				<key>intro</key>
				<string>你就象场戏剧，随时随地转换面具。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>华慧美</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00123.png</string>
				<key>intro</key>
				<string>谁的眼角触得了谁的眉？谁的笑容抵得了谁的泪？谁的心脏载得了谁的轮回？谁的掌纹赎得回谁的罪？ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>曹薇漫</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00168.png</string>
				<key>intro</key>
				<string>说太多，不如沉默；想太多，我会难过。滚……Ok? </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>严珠菲</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00150.png</string>
				<key>intro</key>
				<string>低吟、浅唱，那一段不为人知的伤，没落繁华的过往是谁的歌声在回荡。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>孙哲枫</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00003.png</string>
				<key>intro</key>
				<string>在什么都不确定的年代，我们总是爱得太早、放弃得太快，轻易付出承诺，又不想等待结果。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>姜克初</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00067.png</string>
				<key>intro</key>
				<string>当我最想说些什么的时候，往往也是我最沉默的时候。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>赵云欢</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00104.png</string>
				<key>intro</key>
				<string>祝福是一泓清泉中的花开，花开四季，季季都有我芬芳淡淡的叮咛。叮咛是一世漂泊中的风雨，风雨几缕，缕缕都有我随花凋谢的心情。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>金雪茜</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00152.png</string>
				<key>intro</key>
				<string>我在此岸，你在彼岸。两两相望，两两相忘。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>卫美枫</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00165.png</string>
				<key>intro</key>
				<string>相识，总是那么美丽；分手，总是优雅不起。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>朱倩家</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00131.png</string>
				<key>intro</key>
				<string>相识，总是那么美丽；分手，总是优雅不起。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>华良稷</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00084.png</string>
				<key>intro</key>
				<string>谁静静地聆听我的诉说，又是谁.残忍的割痛着我的心。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>王沛胤</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00087.png</string>
				<key>intro</key>
				<string>为谁唱离歌，对谁说情话，给谁写天涯。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>吕梁运</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>工作同事</string>
		<key>online</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>headImage_00038.png</string>
				<key>intro</key>
				<string>我不想做你生命的插曲，只想做你生命最完美的结局。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>孙骞强</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00003.png</string>
				<key>intro</key>
				<string>年少的爱慕是可以安静的，只是在以后的岁月里，我将永远走在少了你的风景里。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>金柔梅</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00196.png</string>
				<key>intro</key>
				<string>若爱，请深爱；放弃，请彻底；等待本身就是一个错误。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>何芸梦</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00062.png</string>
				<key>intro</key>
				<string>我为谁而来？茫茫人海，谁来安排，美丽的意外。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>姜优花</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00128.png</string>
				<key>intro</key>
				<string>心总在最痛时复苏；爱总在最深时，落下帷幕。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>陈晨国</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00008.png</string>
				<key>intro</key>
				<string>心里有一些牵挂，有些爱却不得不各安天涯…</string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>韩彩珍</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00039.png</string>
				<key>intro</key>
				<string>你说的永远，不过是永不可能得到的长远。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>陶荣喆</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00023.png</string>
				<key>intro</key>
				<string>我不说、你不懂，我们互相在假装。这就是我们的距离。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>吕林海</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00196.png</string>
				<key>intro</key>
				<string>那些流年、那些颠狂、那些悲伤，在某个十字路口、已经尘埃落定。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>沈震骏</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00038.png</string>
				<key>intro</key>
				<string>谁动听了整个夏季的蝉鸣，谁渲染了一个秋天的凋零。下一次天亮，谁来给我春暖花开的心情。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>严薇采</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00052.png</string>
				<key>intro</key>
				<string>谁寂寞了繁华，埋葬了天涯，散尽一身的戎甲。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>曹婷雅</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00003.png</string>
				<key>intro</key>
				<string>是因我们太年轻，不能够坚持自己，还是诺言太软弱，经不起闲言碎语？ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>韩采锦</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00050.png</string>
				<key>intro</key>
				<string>你就象场戏剧，随时随地转换面具。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>王运帆</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00043.png</string>
				<key>intro</key>
				<string>宿命给每个人都安排了位置，即使短暂的错位，也终要回归本位。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>郑琳灵</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00073.png</string>
				<key>intro</key>
				<string>有多少永远值得坚持，有多少永远配得上永远。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>蒋佑日</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
		</array>
		<key>name</key>
		<string>技术团队</string>
		<key>online</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>headImage_00088.png</string>
				<key>intro</key>
				<string>逝去的岁月怎么找得回来？你曾经的微笑，在回忆里却散不开。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>曹雪栀</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00171.png</string>
				<key>intro</key>
				<string>花开再谢、人来又走。假若注定是过客，起初又何必招惹。</string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>秦雅可</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00087.png</string>
				<key>intro</key>
				<string>人生就像一场舞会，教会你最初舞步的人却未必能陪你走到散场…… </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>楮璟曼</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00035.png</string>
				<key>intro</key>
				<string>记忆流成河。我在岸边经过，闭上眼睛，悲欢交错。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>姜彩文</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00000.png</string>
				<key>intro</key>
				<string>人生就像一场舞会，教会你最初舞步的人却未必能陪你走到散场…… </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>蒋鹤晨</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00164.png</string>
				<key>intro</key>
				<string>话已说尽，情已割舍，爱已不在，后会无期。</string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>王祯然</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00192.png</string>
				<key>intro</key>
				<string>说太多，不如沉默；想太多，我会难过。滚……Ok? </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>楮枫祥</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00170.png</string>
				<key>intro</key>
				<string>街角遇见爱，转角没未来。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>楮鑫花</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00033.png</string>
				<key>intro</key>
				<string>心总在最痛时复苏；爱总在最深时，落下帷幕。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>郑辰晨</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00190.png</string>
				<key>intro</key>
				<string>在这世间，有一些无法抵达的地方。无法靠近的人。无法完成的事。无法占有的感情。无法修复的缺陷。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>谢佑琛</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00002.png</string>
				<key>intro</key>
				<string>记忆流成河。我在岸边经过，闭上眼睛，悲欢交错。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>卫华雪</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00083.png</string>
				<key>intro</key>
				<string>试着放手，走与不走，留与不留，我不想懂？ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>吴茹洲</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00132.png</string>
				<key>intro</key>
				<string>心里有一些牵挂，有些爱却不得不各安天涯…</string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>冯辰爵</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00087.png</string>
				<key>intro</key>
				<string>喜欢的歌，静静地听；喜欢的人，远远地看。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>张蕾雪</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>开发小组</string>
		<key>online</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>headImage_00187.png</string>
				<key>intro</key>
				<string>有多少永远值得坚持，有多少永远配得上永远。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>郑娜玉</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00155.png</string>
				<key>intro</key>
				<string>知道真相又如何？青涩年华里，我们都怀揣着各自的秘密，原谅了彼此的心机。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>吴蕾萱</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00056.png</string>
				<key>intro</key>
				<string>谢谢你曾让我勇敢。静静的看你牵起她的手，从我面前高调地走过…若无其事。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>魏家雪</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00183.png</string>
				<key>intro</key>
				<string>谁和谁错肩,谁和谁永远,谁在残阳如血的时光中等待花落。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>华婷枫</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00125.png</string>
				<key>intro</key>
				<string>花开再谢、人来又走。假若注定是过客，起初又何必招惹。</string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>孔彩梦</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00081.png</string>
				<key>intro</key>
				<string>不想用爱情来渲染悲伤，不想看你如此疲惫，低着头不理会，说我冷漠？无所谓！ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>韩稷驰</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00074.png</string>
				<key>intro</key>
				<string>喜欢的歌，静静地听；喜欢的人，远远地看。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>秦康驰</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00138.png</string>
				<key>intro</key>
				<string>为什么路的後面还是路？为什么故事结束还有那么多的假如？只有你能打破黑夜的企图，什么时候我的梦境能有太阳居住？ </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>蒋天辰</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00010.png</string>
				<key>intro</key>
				<string>谁给我波澜不惊的爱情，谁陪我看透流年的风景。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>杨栀玥</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00020.png</string>
				<key>intro</key>
				<string>潮起潮落，冲不走沙滩记忆的贝壳；云卷云舒，留不住她远去的背影；人来人往，挡不住初识的那份快乐。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>孔旭彩</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00084.png</string>
				<key>intro</key>
				<string>在这世间，有一些无法抵达的地方。无法靠近的人。无法完成的事。无法占有的感情。无法修复的缺陷。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>卫欣婧</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00065.png</string>
				<key>intro</key>
				<string>你说的永远，不过是永不可能得到的长远。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>沈祜良</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00008.png</string>
				<key>intro</key>
				<string>人生就像一场舞会，教会你最初舞步的人却未必能陪你走到散场…… </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>沈妮梓</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00086.png</string>
				<key>intro</key>
				<string>想尽办法挽回所有，却找不到重归于好的理由。再不想多说什么，一切的一切自己回忆就可。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>曹辰年</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00157.png</string>
				<key>intro</key>
				<string>说太多，不如沉默；想太多，我会难过。滚……Ok? </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>姜花锦</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00181.png</string>
				<key>intro</key>
				<string>青春年华，谁许谁地老天荒;髦耋岁月,谁知谁擦肩而过。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>卫驰龙</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>上司老板</string>
		<key>online</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>headImage_00132.png</string>
				<key>intro</key>
				<string>时间不是让人不痛，也不是让人忘记痛，而是让人习惯痛。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>曹康震</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00183.png</string>
				<key>intro</key>
				<string>青春是如此忧伤，在这个季节我们学会了感伤。身后曾经有一双翅膀，努力飞翔却是别人的力量。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>孔运骞</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00055.png</string>
				<key>intro</key>
				<string>树叶黄了,就要掉了,被风吹了,找不到了;太阳累了,就要睡了,留下月亮,等着天亮;冬天来了,觉得凉了,水不流了,你也走了;音乐响了,让我哭了,心已丢了,还会痛么？ </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>楮骞梁</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00106.png</string>
				<key>intro</key>
				<string>逝去的岁月怎么找得回来？你曾经的微笑，在回忆里却散不开。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>孔春莲</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00180.png</string>
				<key>intro</key>
				<string>一种游戏，一种规则。玩得起，继续；玩不起，出局。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>吴锦楠</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00100.png</string>
				<key>intro</key>
				<string>有多少永远值得坚持，有多少永远配得上永远。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>钱勇哲</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00197.png</string>
				<key>intro</key>
				<string>我为谁而来？茫茫人海，谁来安排，美丽的意外。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>张雪彩</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00191.png</string>
				<key>intro</key>
				<string>说太多，不如沉默；想太多，我会难过。滚……Ok? </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>何锦彤</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00156.png</string>
				<key>intro</key>
				<string>宿命给每个人都安排了位置，即使短暂的错位，也终要回归本位。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>许华芳</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00156.png</string>
				<key>intro</key>
				<string>一念起，万水千山；一念灭，沧海桑田。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>孙涵婧</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00184.png</string>
				<key>intro</key>
				<string>原来岁月太长，可以丰富，可以荒凉。能忘掉结果，未能忘记遇上。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>杨锦云</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00110.png</string>
				<key>intro</key>
				<string>有多少永远值得坚持，有多少永远配得上永远。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>姜婷菲</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00056.png</string>
				<key>intro</key>
				<string>流年浅唱，记忆被瞬间遗忘，我的思念汇聚成河，流淌在天涯尽头…… </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>朱冬莲</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00086.png</string>
				<key>intro</key>
				<string>忘掉岁月，忘掉痛苦，忘掉你的坏，我们永不永不说再见。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>孙梓康</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00033.png</string>
				<key>intro</key>
				<string>一念起，万水千山；一念灭，沧海桑田。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>曹茹春</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00154.png</string>
				<key>intro</key>
				<string>我不说、你不懂，我们互相在假装。这就是我们的距离。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>赵碧琳</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00043.png</string>
				<key>intro</key>
				<string>谁静静地聆听我的诉说，又是谁.残忍的割痛着我的心。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>华辰芃</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00121.png</string>
				<key>intro</key>
				<string>谁的爱放在假日的市场，讨价还价拍卖着它的重量。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>许侠康</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00106.png</string>
				<key>intro</key>
				<string>所有的疼痛、都被隐藏在乖戾的微笑里，越是笑，就越疼。越是疼，就越是没心没肺的笑。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>楮洲灵</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00063.png</string>
				<key>intro</key>
				<string>你就象场戏剧，随时随地转换面具。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>朱明彩</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00149.png</string>
				<key>intro</key>
				<string>说太多，不如沉默；想太多，我会难过。滚……Ok? </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>李鑫鑫</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00064.png</string>
				<key>intro</key>
				<string>感情有时候只是一个人的事情，和任何人无关。爱、或者不爱，自行了断。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>秦妍雅</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00105.png</string>
				<key>intro</key>
				<string>我站得太久说的太久我自己都累了，你怎么还是听不懂？我写的太多了写的太久了我自己都累了，你怎么还是看不懂？ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>秦馨云</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00035.png</string>
				<key>intro</key>
				<string>喜欢的歌，静静地听；喜欢的人，远远地看。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>华子腾</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00150.png</string>
				<key>intro</key>
				<string>今生今世，但愿岁月静好，现世安稳，每天都能看见他的笑颜。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>吴芸克</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00081.png</string>
				<key>intro</key>
				<string>过去的故事总归成为回忆，会痛、会哭、会想起。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>卫婧彩</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00048.png</string>
				<key>intro</key>
				<string>那一世，转山转水转佛塔，不为修来世，只为途中与你相见。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>陶枫祥</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00112.png</string>
				<key>intro</key>
				<string>当我最想说些什么的时候，往往也是我最沉默的时候。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>严运谛</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00008.png</string>
				<key>intro</key>
				<string>青春，让我们学会了悲伤、逞强、强颜欢笑。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>楮嘉采</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00171.png</string>
				<key>intro</key>
				<string>不想用爱情来渲染悲伤，不想看你如此疲惫，低着头不理会，说我冷漠？无所谓！ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>吴禧平</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00028.png</string>
				<key>intro</key>
				<string>在什么都不确定的年代，我们总是爱得太早、放弃得太快，轻易付出承诺，又不想等待结果。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>何辰胤</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00157.png</string>
				<key>intro</key>
				<string>自此，鞠躬鸣谢，感谢你的出现。从此、华丽落幕，你、不再属于我的世界。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>朱琛凯</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00137.png</string>
				<key>intro</key>
				<string>年少的爱慕是可以安静的，只是在以后的岁月里，我将永远走在少了你的风景里。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>卫阳泽</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00198.png</string>
				<key>intro</key>
				<string>我落日般的忧伤就像惆怅的飞鸟，惆怅的飞鸟飞成我落日般的忧伤。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>华彤妍</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00066.png</string>
				<key>intro</key>
				<string>感情有时候只是一个人的事情，和任何人无关。爱、或者不爱，自行了断。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>陶骏星</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00134.png</string>
				<key>intro</key>
				<string>一个人的寂寞，成就不朽的情歌；全民一起寂寞，成就如此多的哥。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>蒋漫淑</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00130.png</string>
				<key>intro</key>
				<string>青春的花开花谢只是我思念的日历。没有首页，没有尾页。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>何侠鹏</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00191.png</string>
				<key>intro</key>
				<string>原来岁月太长，可以丰富，可以荒凉。能忘掉结果，未能忘记遇上。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>张雅春</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00053.png</string>
				<key>intro</key>
				<string>是因我们太年轻，不能够坚持自己，还是诺言太软弱，经不起闲言碎语？ </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>李昕花</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>name</key>
		<string>员工下属</string>
		<key>online</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>headImage_00133.png</string>
				<key>intro</key>
				<string>我们的青春如此无奈。太多的回忆变成了伤怀。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>金谷运</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00121.png</string>
				<key>intro</key>
				<string>知道真相又如何？青涩年华里，我们都怀揣着各自的秘密，原谅了彼此的心机。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>朱睿日</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00050.png</string>
				<key>intro</key>
				<string>谢谢你曾让我勇敢。静静的看你牵起她的手，从我面前高调地走过…若无其事。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>王驰腾</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00018.png</string>
				<key>intro</key>
				<string>我不说、你不懂，我们互相在假装。这就是我们的距离。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>吴谷坤</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00060.png</string>
				<key>intro</key>
				<string>那一世，转山转水转佛塔，不为修来世，只为途中与你相见。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>冯振俊</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00027.png</string>
				<key>intro</key>
				<string>谁和谁错肩,谁和谁永远,谁在残阳如血的时光中等待花落。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>秦辰胤</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00010.png</string>
				<key>intro</key>
				<string>街角遇见爱，转角没未来。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>周运帆</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00045.png</string>
				<key>intro</key>
				<string>那些流年、那些颠狂、那些悲伤，在某个十字路口、已经尘埃落定。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>李馨云</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00080.png</string>
				<key>intro</key>
				<string>谁的眼角触得了谁的眉？谁的笑容抵得了谁的泪？谁的心脏载得了谁的轮回？谁的掌纹赎得回谁的罪？ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>孙皓运</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>社会二逼</string>
		<key>online</key>
		<integer>7</integer>
	</dict>
</array>
</plist>
