<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>headImage_00009.png</string>
				<key>intro</key>
				<string>逝去的岁月怎么找得回来？你曾经的微笑，在回忆里却散不开。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>华梦桃</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00077.png</string>
				<key>intro</key>
				<string>自此，鞠躬鸣谢，感谢你的出现。从此、华丽落幕，你、不再属于我的世界。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>许仕勇</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00180.png</string>
				<key>intro</key>
				<string>绘一场生死契阔的游戏，为我们的故事写下一个结局。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>李阳树</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00187.png</string>
				<key>intro</key>
				<string>你说的永远，不过是永不可能得到的长远。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>钱彩舒</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00060.png</string>
				<key>intro</key>
				<string>说好就此放手，说好不为彼此停留，可回忆说走又不走。</string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>魏静静</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00048.png</string>
				<key>intro</key>
				<string>自此，鞠躬鸣谢，感谢你的出现。从此、华丽落幕，你、不再属于我的世界。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>王优花</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
		</array>
		<key>name</key>
		<string>工作同事</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>headImage_00100.png</string>
				<key>intro</key>
				<string>暧昧过头，友谊终究酿不成爱情。就像旋转木马，因为你在追、我在逃，我再追，你又跑…… </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>华倩家</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00040.png</string>
				<key>intro</key>
				<string>流年浅唱，记忆被瞬间遗忘，我的思念汇聚成河，流淌在天涯尽头…… </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>钱阳树</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00066.png</string>
				<key>intro</key>
				<string>谁静静地聆听我的诉说，又是谁.残忍的割痛着我的心。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>吴晨初</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00075.png</string>
				<key>intro</key>
				<string>能给你的全都给你我都舍得，除了让你知道我心如刀割。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>赵妮妮</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00195.png</string>
				<key>intro</key>
				<string>那一世，转山转水转佛塔，不为修来世，只为途中与你相见。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>赵敏涵</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00085.png</string>
				<key>intro</key>
				<string>过去的故事总归成为回忆，会痛、会哭、会想起。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>楮然驰</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00179.png</string>
				<key>intro</key>
				<string>流年浅唱，记忆被瞬间遗忘，我的思念汇聚成河，流淌在天涯尽头…… </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>李玲正</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00106.png</string>
				<key>intro</key>
				<string>时间不是让人不痛，也不是让人忘记痛，而是让人习惯痛。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>王珍萱</string>
				<key>vip</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00197.png</string>
				<key>intro</key>
				<string>为什么路的後面还是路？为什么故事结束还有那么多的假如？只有你能打破黑夜的企图，什么时候我的梦境能有太阳居住？ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>卫裕良</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00191.png</string>
				<key>intro</key>
				<string>青春年华，谁许谁地老天荒;髦耋岁月,谁知谁擦肩而过。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>陶彩静</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00025.png</string>
				<key>intro</key>
				<string>喜欢的歌，静静地听；喜欢的人，远远地看。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>华桐锦</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00027.png</string>
				<key>intro</key>
				<string>感情有时候只是一个人的事情，和任何人无关。爱、或者不爱，自行了断。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>楮可萱</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00036.png</string>
				<key>intro</key>
				<string>说好就此放手，说好不为彼此停留，可回忆说走又不走。</string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>冯炳俊</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00067.png</string>
				<key>intro</key>
				<string>谁的眼角触得了谁的眉？谁的笑容抵得了谁的泪？谁的心脏载得了谁的轮回？谁的掌纹赎得回谁的罪？ </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>金振彬</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
		</array>
		<key>name</key>
		<string>技术团队</string>
		<key>online</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>headImage_00132.png</string>
				<key>intro</key>
				<string>今生今世，但愿岁月静好，现世安稳，每天都能看见他的笑颜。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>朱龙运</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00057.png</string>
				<key>intro</key>
				<string>说好就此放手，说好不为彼此停留，可回忆说走又不走。</string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>周稷辰</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00119.png</string>
				<key>intro</key>
				<string>逝去的岁月怎么找得回来？你曾经的微笑，在回忆里却散不开。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>严舒曦</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00137.png</string>
				<key>intro</key>
				<string>我们在放弃，涂白了记忆，以为就可以伪装无邪的美丽。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>姜锦彩</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00037.png</string>
				<key>intro</key>
				<string>在什么都不确定的年代，我们总是爱得太早、放弃得太快，轻易付出承诺，又不想等待结果。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>陈婷芙</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00127.png</string>
				<key>intro</key>
				<string>有多少永远值得坚持，有多少永远配得上永远。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>金彬骏</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00020.png</string>
				<key>intro</key>
				<string>试着放手，走与不走，留与不留，我不想懂？ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>秦彩玉</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00153.png</string>
				<key>intro</key>
				<string>谁的眼角触得了谁的眉？谁的笑容抵得了谁的泪？谁的心脏载得了谁的轮回？谁的掌纹赎得回谁的罪？ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>金杞涛</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00053.png</string>
				<key>intro</key>
				<string>说太多，不如沉默；想太多，我会难过。滚……Ok? </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>楮仕勇</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00058.png</string>
				<key>intro</key>
				<string>你说的永远，不过是永不可能得到的长远。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>陈家辰</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00031.png</string>
				<key>intro</key>
				<string>谁的爱放在假日的市场，讨价还价拍卖着它的重量。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>李鸿嘉</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00163.png</string>
				<key>intro</key>
				<string>感情有时候只是一个人的事情，和任何人无关。爱、或者不爱，自行了断。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>沈慧桂</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00195.png</string>
				<key>intro</key>
				<string>我为谁而来？茫茫人海，谁来安排，美丽的意外。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>周祥文</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>name</key>
		<string>开发小组</string>
		<key>online</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>headImage_00177.png</string>
				<key>intro</key>
				<string>时间不是让人不痛，也不是让人忘记痛，而是让人习惯痛。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>金辰弘</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00011.png</string>
				<key>intro</key>
				<string>谁的爱放在假日的市场，讨价还价拍卖着它的重量。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>钱昭涵</string>
				<key>vip</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00049.png</string>
				<key>intro</key>
				<string>人生就像一场舞会，教会你最初舞步的人却未必能陪你走到散场…… </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>韩天运</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00181.png</string>
				<key>intro</key>
				<string>有多少永远值得坚持，有多少永远配得上永远。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>谢星恒</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00141.png</string>
				<key>intro</key>
				<string>那些流年、那些颠狂、那些悲伤，在某个十字路口、已经尘埃落定。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>蒋运禧</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00065.png</string>
				<key>intro</key>
				<string>曾经的海枯石烂，终究抵不过一句好聚好散。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>陈骏浩</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00181.png</string>
				<key>intro</key>
				<string>不想用爱情来渲染悲伤，不想看你如此疲惫，低着头不理会，说我冷漠？无所谓！ </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>秦星初</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00169.png</string>
				<key>intro</key>
				<string>谁的眼角触得了谁的眉？谁的笑容抵得了谁的泪？谁的心脏载得了谁的轮回？谁的掌纹赎得回谁的罪？ </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>蒋强海</string>
				<key>vip</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00128.png</string>
				<key>intro</key>
				<string>谁寂寞了繁华，埋葬了天涯，散尽一身的戎甲。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>许优桐</string>
				<key>vip</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00174.png</string>
				<key>intro</key>
				<string>相识，总是那么美丽；分手，总是优雅不起。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>许振骏</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00113.png</string>
				<key>intro</key>
				<string>我们在放弃，涂白了记忆，以为就可以伪装无邪的美丽。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>吕栋柔</string>
				<key>vip</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00158.png</string>
				<key>intro</key>
				<string>人生就像一场舞会，教会你最初舞步的人却未必能陪你走到散场…… </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>楮鹤晨</string>
				<key>vip</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00091.png</string>
				<key>intro</key>
				<string>一念起，万水千山；一念灭，沧海桑田。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>吕静惠</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00188.png</string>
				<key>intro</key>
				<string>我不想做你生命的插曲，只想做你生命最完美的结局。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>秦美楠</string>
				<key>vip</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00099.png</string>
				<key>intro</key>
				<string>想尽办法挽回所有，却找不到重归于好的理由。再不想多说什么，一切的一切自己回忆就可。 </string>
				<key>isOnline</key>
				<integer>0</integer>
				<key>name</key>
				<string>周星运</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>headImage_00002.png</string>
				<key>intro</key>
				<string>当我最想说些什么的时候，往往也是我最沉默的时候。 </string>
				<key>isOnline</key>
				<integer>1</integer>
				<key>name</key>
				<string>钱凡帛</string>
				<key>vip</key>
				<integer>5</integer>
			</dict>
		</array>
		<key>name</key>
		<string>上司老板</string>
		<key>online</key>
		<integer>8</integer>
	</dict>
</array>
</plist>
